body{
    background-color: rgb(255, 249, 241);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}

#top{
    text-align: center;
    margin-top: -2%;
    margin-left: 0%;
    margin-right: 0%;
    background-image: url(Bilder/BG.png);
    background-repeat: no-repeat;
    background-position: center top;
}

.Menu ul{
    text-align: center;
    margin-top: 0%;
    padding: 20px 80px 30px 80px; 
    background-color:rgb(238, 151, 151);
    position: fixed;
    top: 0;
    border: rgb(185, 102, 102);
}
.Menu li {
    display: inline;
    list-style: none;
    margin-right: 10px;
    padding: 5px 10px;
    background: rgb(238, 151, 151);
}
.Menu a:hover {
    font-style: italic;
}
.Menu a{
    text-decoration: none;
    color: white;
}
#UnterNav:hover{
    transform:scale(1.3);
}
.Auswahl, #Inhalt{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.artikel{
    width: 27%;
    height: 40%;
    text-align: center;
    margin-top: 4%;
    padding-top: 2%;
    padding-bottom: 5%;
    float: left;
    background-color: rgb(188, 228, 238);
}
.artikel img{
    width: 50%;
}
button{
    background-color: rgb(250, 239, 231);
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2%;
}
#WarenIcon{
    background: rgb(65, 49, 36);
    color: white;
    position: fixed;
    top: 5%;
    left: 24%;
    width: 40px;
    height: 40px;
    border-radius: 200px;
    text-align: center;
}

.goToPrivate{
    position: relative;
    left: 40%;
}

footer{
    background-color: rgb(238, 151, 151);
    bottom: 0px;
} 
.fot ul{
    text-align: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 2%;
}
.fot li{
    padding: 2%;
}
.fot img{
    width: 40px;
}
#Auflistung{
    width: 10%;
    float: right;
    position: rel;
    z-index: 50;
}
.sidebarArtikel{
    width: 100%;
    height: 15%;
    text-align: center;
    margin-top: 4%;
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: rgb(194, 238, 188);
}
.sidebarArtikel img{
    width: 70%;
}