body { 
    background-image: url(bg.png);
    font-family: sans-serif;
    color: black;

    text-align: center;
}

#dreieck { 
  margin-top: -400px;
  margin-left: auto;
  margin-right: auto;
  width: 500px; 
  height: 250px;
  border-top: 100px solid rgb(255, 217, 226);
  border-left: 60px solid transparent; 
  border-right: 60px solid transparent;
  z-index: 5;
}

.UnterNav:hover{
  transform:scale(1.4)
}

.navbar{
  padding: 30px 100px 30px 100px;
  background-color:rgb(245, 171, 171);
  position: fixed;
  top: 0;
  right: 0;
}

.navbar a:hover {
  font-style: italic;
}

#momentan{
color:black;
}

a{
  text-decoration: none;
  color: white;
}

  #topic{
    font-size: 50px;
    color: none;
    padding: 30px;
    z-index: 10;
    
  }
  #topic p{
    font-size: 10px;
    text-align: center;
 
  }

  #InstaLink{
    color: rgb(65, 39, 48);
    font-weight: bold;
  }

 #Hinweis{
   font-size: 10px;
   color: rgb(170, 170, 170);
 }