body { 
    background-image: url(bg.png);
    font-family: sans-serif ;
    text-align: center;
    width: 800px;
}

#navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(245, 171, 171);
  position: fixed;
  top: 0;
  right: 0;
}

#navbar li {
    float: left;
  }

#navbar li a {
  display: block;
  color: rgb(255, 255, 255), 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#momentan{
color: rgb(102, 102, 102);
}

#navbar li a:hover {
  background-color: rgb(243, 144, 144);
}

  #topic{
    font-size: 70px;
    color: none;
    background-color: rgb(255, 217, 226);
    padding: 30px;
    text-align: center;
  }
  #topic p{
    width: 300px;
    right: 0;
  }
  
  input{
    width: 50%;
  padding: 6px 15px;
  box-sizing: border-box;
    border: 2px solid rgb(255, 146, 146);
  border-radius: 4px;
  }